div{
    
    background-color:rgb(255, 198, 210);
padding: 100px 0 20px 20px;
}

input[type="submit"]{
    background-color: crimson;
    color: white;
    border-radius: 10px;
    border: none;
    padding: 10px 25px;
}